In [6]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import accuracy_score, roc_curve
from sklearn.linear_model import LogisticRegression as lr

In [15]:
data = pd.read_csv("../Data/10-1_dust_classes.csv")
data = data.dropna()

In [16]:
data.head()

,Unnamed: 0,0,1,2,3,4,5,class
0,0.0,0.471296,119.958439,-0.000956,32.144038,169.758423,1053.143289,dust
1,1.0,0.085602,21.821133,0.000091,26.659139,163.944968,387.122159,dust
2,2.0,0.063896,16.289339,0.000134,27.413486,193.381032,483.033577,dust
3,3.0,0.028911,7.371473,0.000451,26.858970,146.070319,749.250395,dust
4,4.0,0.000000,0.000000,-0.002283,3.692830,196.721007,1060.959619,dust

In [17]:
lr = lr()

TypeError: 'LogisticRegression' object is not callable

In [18]:
x = data.iloc[:,0:7]
x

,Unnamed: 0,0,1,2,3,4,5
0,0.0,0.471296,119.958439,-0.000956,32.144038,169.758423,1053.143289
1,1.0,0.085602,21.821133,0.000091,26.659139,163.944968,387.122159
2,2.0,0.063896,16.289339,0.000134,27.413486,193.381032,483.033577
3,3.0,0.028911,7.371473,0.000451,26.858970,146.070319,749.250395
4,4.0,0.000000,0.000000,-0.002283,3.692830,196.721007,1060.959619
...,...,...,...,...,...,...,...
1543,88.0,1.272840,322.954205,0.000772,585.438445,203.432851,503.652557
1544,89.0,1.765758,447.150485,0.000583,706.513313,188.388260,590.519170
1545,90.0,0.036235,9.238575,-0.000095,70.908234,207.369471,20.324278
1546,91.0,0.131193,33.436961,0.000158,95.706227,204.018951,339.869306
1547,92.0,1.254601,318.349352,-0.003117,91.077879,58.718344,783.799029

In [19]:
y = data["class"]
y

0          dust
1          dust
2          dust
3          dust
4          dust
         ...
1543    no_dust
1544    no_dust
1545    no_dust
1546    no_dust
1547    no_dust
Name: class, Length: 1545, dtype: object

In [21]:
logaccuracy = cross_val_score(lr,x,y)
logaccuracy

array([0.6407767 , 0.93203883, 0.84142395, 0.88349515, 0.65048544])