In [10]:
from marsvision.pipeline.Model import Model
from marsvision.pipeline.SlidingWindow import SlidingWindow
import cv2
import pandas as pd

In [11]:
# Working with a model and the sliding window module
model = Model()
model.load_model("model.p", model_type="sklearn")
sliding_window = SlidingWindow(model)
marsface = cv2.imread("marsface.jpg")
sliding_window.sliding_window_predict(marsface, "marsface.jpg")

In [8]:
# Executing and returning a sqlite statement
import sqlite3

# Connect to the database
conn = sqlite3.connect("marsvision.db")
c = conn.cursor()
c.execute("SELECT id FROM global ORDER BY id DESC LIMIT 1")

In [12]:
pd.read_sql("SELECT * FROM global", conn)

,id,filename,stride_length_x,stride_length_y,window_length,window_height
0,2,marsface.jpg,32,32,32,32

In [13]:
pd.read_sql("SELECT * FROM windows", conn)

   global_id  coord_x  coord_y prediction
0          2        0        0          0
1          2       32        0          1
2          2       64        0          1
3          2       96        0          1
4          2      128        0          1
5          2      160        0          0
6          2      192        0          1
7          2        0       32          1
8          2       32       32          1
9          2       64       32          1
10         2       96       32          0
11         2      128       32          0
12         2      160       32          1
13         2      192       32          1
14         2        0       64          1
15         2       32       64          1
16         2       64       64          0
17         2       96       64          0
18         2      128       64          0
19         2      160       64          0
20         2      192       64          0
21         2        0       96          1
22         2       32       96          1
23         2       64       96          0
24         2       96       96          0
25         2      128       96          1
26         2      160       96          1
27         2      192       96          0
28         2        0      128          1
29         2       32      128          1
30         2       64      128          1
31         2       96      128          0
32         2      128      128          0
33         2      160      128          1
34         2      192      128          0
35         2        0      160          1
36         2       32      160          1
37         2       64      160          1
38         2       96      160          0
39         2      128      160          1
40         2      160      160          1
41         2      192      160          1
42         2        0      192          1
43         2       32      192          1
44         2       64      192          1
45         2       96      192          0
46         2      128      192          0
47         2      160      192          0
48         2      192      192          0
49         2        0      224          1
50         2       32      224          1
51         2       64      224          1
52         2       96      224          1
53         2      128      224          1
54         2      160      224          1
55         2      192      224          1

In [9]:
c.close()